<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorkerCafe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>639B67281E0A723B00C4857E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>639B673C1E0A723B00C4857E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>639B67471E0A723B00C4857E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
